{
  "ADMOB_APP_ID": "ca-app-pub-xxxxxxxxxxxxxxxx~yyyyyyyyyy",
  "ADMOB_BANNER_IOS": "ca-app-pub-xxxxxxxxxxxxxxxx/aaaaaaaaaa",
  "ADMOB_BANNER_ANDROID": "ca-app-pub-xxxxxxxxxxxxxxxx/bbbbbbbbbb",

  "SCREENSHOT_MODE": false,
  "ADS_REMOVED_OVERRIDE": false,
  "FORCE_TEST_ADS": false,
  "FORCE_REAL_ADS": false,
  "ADS_DIAG": false,
  "FORCE_NPA": false,
  "ADS_DISABLE_BANNERS": false,

  "ADMOB_TEST_DEVICE_ID": "",
  "THEME_MODE_OVERRIDE": ""
}

